In [1]:
import pandas as pd
import numpy as np

In [2]:
basics_url="https://datasets.imdbws.com/title.basics.tsv.gz"

In [3]:
basics = pd.read_csv(basics_url, sep='\t', low_memory=False)

In [4]:
akas_url="https://datasets.imdbws.com/title.akas.tsv.gz"

In [5]:
akas = pd.read_csv(akas_url, sep='\t', low_memory=False)

In [6]:
ratings_url="https://datasets.imdbws.com/title.ratings.tsv.gz"

In [7]:
ratings = pd.read_csv(ratings_url, sep='\t', low_memory=False)

In [8]:
basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9634768 entries, 0 to 9634767
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       object
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: object(9)
memory usage: 661.6+ MB

In [9]:
akas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35009891 entries, 0 to 35009890
Data columns (total 8 columns):
 #   Column           Dtype
---  ------           -----
 0   titleId          object
 1   ordering         int64
 2   title            object
 3   region           object
 4   language         object
 5   types            object
 6   attributes       object
 7   isOriginalTitle  object
dtypes: int64(1), object(7)
memory usage: 2.1+ GB

In [10]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1282624 entries, 0 to 1282623
Data columns (total 3 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   tconst         1282624 non-null  object
 1   averageRating  1282624 non-null  float64
 2   numVotes       1282624 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 29.4+ MB

In [11]:
basics = basics.replace({'\\N':np.nan})

In [12]:
basics = basics.dropna(subset=['runtimeMinutes','genres'])

In [13]:
movie_filter = basics['titleType']=='movie'

In [14]:
basics = basics[movie_filter]

In [15]:
basics['startYear'] = basics['startYear'].fillna(0).astype(int)

In [16]:
startYear2000 = basics['startYear'] >=2000

In [17]:
startYear2022 = basics['startYear']<=2022

In [18]:
basics = basics[startYear2000 & startYear2022]

In [19]:
# Exclude movies that are included in the documentary category.
documentary = basics['genres'].str.contains('documentary',case=False)
basics = basics[~documentary]

In [21]:
ratings = ratings.replace({'\\N':np.nan})

In [22]:
us_filter = akas['region']=='US'

In [23]:
akas = akas[us_filter]

In [20]:
akas = akas.replace({'\\N':np.nan})

In [24]:
# Filter the basics table down to only include the US by using the filter akas dataframe
keepers = basics['tconst'].isin(akas['titleId'])
keepers

34803       True
61116       True
67669       True
77964      False
86801       True
           ...
9634441     True
9634450     True
9634489    False
9634534     True
9634618    False
Name: tconst, Length: 146581, dtype: bool

In [25]:
basics = basics[keepers]
basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
34803,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance"
61116,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020,NaN,70,Drama
67669,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama
86801,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,NaN,100,"Comedy,Horror,Sci-Fi"
93938,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002,NaN,126,Drama
...,...,...,...,...,...,...,...,...,...
9633905,tt9914942,movie,Life Without Sara Amat,La vida sense la Sara Amat,0,2019,NaN,74,Drama
9634301,tt9915872,movie,The Last White Witch,My Girlfriend is a Wizard,0,2019,NaN,97,"Comedy,Drama,Fantasy"
9634441,tt9916170,movie,The Rehearsal,O Ensaio,0,2019,NaN,51,Drama
9634450,tt9916190,movie,Safeguard,Safeguard,0,2020,NaN,95,"Action,Adventure,Thriller"
9634534,tt9916362,movie,Coven,Akelarre,0,2020,NaN,92,"Drama,History"

In [26]:
keepers2 = ratings['tconst'].isin(akas['titleId'])
keepers2

0           True
1           True
2          False
3          False
4           True
           ...
1282619    False
1282620    False
1282621    False
1282622    False
1282623    False
Name: tconst, Length: 1282624, dtype: bool

In [27]:
ratings = ratings[keepers2]
ratings

            tconst  averageRating  numVotes
0        tt0000001            5.7      1953
1        tt0000002            5.8       263
4        tt0000005            6.2      2589
5        tt0000006            5.1       177
6        tt0000007            5.4       812
...            ...            ...       ...
1282589  tt9916200            8.2       221
1282590  tt9916204            8.2       253
1282597  tt9916348            8.5        17
1282598  tt9916362            6.4      5191
1282602  tt9916428            3.8        14

[489896 rows x 3 columns]

In [28]:
basics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 85567 entries, 34803 to 9634534
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          85567 non-null  object
 1   titleType       85567 non-null  object
 2   primaryTitle    85567 non-null  object
 3   originalTitle   85567 non-null  object
 4   isAdult         85567 non-null  object
 5   startYear       85567 non-null  int64
 6   endYear         0 non-null      object
 7   runtimeMinutes  85567 non-null  object
 8   genres          85567 non-null  object
dtypes: int64(1), object(8)
memory usage: 6.5+ MB

In [29]:
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
34803,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance"
61116,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020,NaN,70,Drama
67669,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama
86801,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,NaN,100,"Comedy,Horror,Sci-Fi"
93938,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002,NaN,126,Drama

In [30]:
akas.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1416293 entries, 5 to 35009635
Data columns (total 8 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   titleId          1416293 non-null  object
 1   ordering         1416293 non-null  int64
 2   title            1416293 non-null  object
 3   region           1416293 non-null  object
 4   language         3832 non-null     object
 5   types            974033 non-null   object
 6   attributes       46039 non-null    object
 7   isOriginalTitle  1414948 non-null  object
dtypes: int64(1), object(7)
memory usage: 97.2+ MB

In [31]:
akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
5,tt0000001,6,Carmencita,US,NaN,imdbDisplay,NaN,0
14,tt0000002,7,The Clown and His Dogs,US,NaN,NaN,literal English title,0
33,tt0000005,10,Blacksmith Scene,US,NaN,imdbDisplay,NaN,0
36,tt0000005,1,Blacksmithing Scene,US,NaN,alternative,NaN,0
41,tt0000005,6,Blacksmith Scene #1,US,NaN,alternative,NaN,0

In [32]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 489896 entries, 0 to 1282602
Data columns (total 3 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   tconst         489896 non-null  object
 1   averageRating  489896 non-null  float64
 2   numVotes       489896 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 15.0+ MB

In [33]:
ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1953
1  tt0000002            5.8       263
4  tt0000005            6.2      2589
5  tt0000006            5.1       177
6  tt0000007            5.4       812

In [34]:
# example making new folder with os
import os
os.makedirs('Data/',exist_ok=True) 
# Confirm folder created
os.listdir("Data/")

['title_basics.csv.gz', 'title_akas.csv.gz', 'title_ratings.csv.gz']

In [35]:
basics.to_csv("Data/title_basics.csv.gz",compression='gzip',index=False)

In [36]:
basics = pd.read_csv("Data/title_basics.csv.gz", low_memory=False)
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020,NaN,70,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama
3,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,NaN,100,"Comedy,Horror,Sci-Fi"
4,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002,NaN,126,Drama

In [37]:
akas.to_csv("Data/title_akas.csv.gz",compression='gzip',index=False)

In [39]:
akas = pd.read_csv("Data/title_akas.csv.gz", low_memory=False)
akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,6,Carmencita,US,NaN,imdbDisplay,NaN,0.0
1,tt0000002,7,The Clown and His Dogs,US,NaN,NaN,literal English title,0.0
2,tt0000005,10,Blacksmith Scene,US,NaN,imdbDisplay,NaN,0.0
3,tt0000005,1,Blacksmithing Scene,US,NaN,alternative,NaN,0.0
4,tt0000005,6,Blacksmith Scene #1,US,NaN,alternative,NaN,0.0

In [40]:
ratings.to_csv("Data/title_ratings.csv.gz",compression='gzip',index=False)

In [41]:
ratings = pd.read_csv("Data/title_ratings.csv.gz", low_memory=False)
ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1953
1  tt0000002            5.8       263
2  tt0000005            6.2      2589
3  tt0000006            5.1       177
4  tt0000007            5.4       812